vps-hk.liaoph.com:443 {
    @websockets {
        header Connection *Upgrade*
        header Upgrade    websocket
    }
    reverse_proxy @websockets v2ray-ws:8080 {
        header_up -Origin
    }
    tls /cert/vps-hk.liaoph.com/fullchain.cer /cert/vps-hk.liaoph.com/vps-hk.liaoph.com.key
}

vps-hk.liaoph.com:3000 {
    reverse_proxy grafana:3000
    tls /cert/vps-hk.liaoph.com/fullchain.cer /cert/vps-hk.liaoph.com/vps-hk.liaoph.com.key
}
